<div class="ibox">
  <div class="ibox-title">
    <div class="close-action"><a href="javascript:$('.edit-popup').hide();$('#edit-container').hide();">&#xf00d;</a></div>
    <h5>Complete <%= recurrence.event_count > 1 ? "#{recurrence.event_count} #{(Object.const_get recurrence.event_class_name).plural_name}" : (Object.const_get recurrence.event_class_name).display_name %> for <%= Date.parse(date).strftime("%A, %B %e") %></h5>
  </div>
  <div class="ibox-content">
    <div class="recurrence-instructions"><%= recurrence.instructions %></div>
  <%= form_tag(calendar_create_path(), :method => :post, class: "form") do %>
    <%= hidden_field_tag "recurrence_id", recurrence.id %>
    <%= hidden_field_tag "date", date %>

    <div class="form-group">
      <label>Comments</label>
      <%= text_area_tag :description, nil, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label>Publish URL</label>
      <%= text_field_tag :publish_url, nil, class: "form-control" %>
    </div>

    <div class="form-group">
      <button type="submit" class="complete-button btn btn-primary">
        <i class="fa fa-check-square-o"></i> Complete
      </button>
    </div>  
  <% end %>
  </div>
</div>