<div class="ibox">
  <div class="ibox-title">
    <div class="close-action"><a href="javascript:$('.edit-popup').hide();$('#edit-container').hide();">&#xf00d;</a></div>
    <h5>Edit Content Plan</h5>
  </div>
  <div class="ibox-content">
  <%= form_tag(plan_update_path(), :method => :post, class: "form") do %>
    <%= hidden_field_tag "recurrence_id", recurrence.id %>
    <div class="form-group">
      <label>Media Type</label>
      <%= select_tag :type, recurrence_event_options(recurrence), class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Repeats</label>
      <%= select_tag :recurrence_type, "<option value='DayOfWeek' #{'DayOfWeek'.eql?(recurrence.event_class_name) ? 'selected' : ''}>Weekly</option><option value='DayOfMonth' #{'DayOfMonth'.eql?(recurrence.event_class_name) ? 'selected' : ''}>Monthly</option>".html_safe, class: "form-control" %>
    </div>
    
    <div class="repeat-options weekly-options form-group" <%= 'DayOfWeek'.eql?(recurrence.event_class_name) ? 'style="display:none;"' : '' %>>
      <label>Week Days</label><br>
      <%= check_box_tag :sunday %> Sun
      &nbsp;&nbsp;
      <%= check_box_tag :monday %> Mon
      &nbsp;&nbsp;
      <%= check_box_tag :tuesday %> Tue
      &nbsp;&nbsp;
      <%= check_box_tag :wednesday %> Wed
      &nbsp;&nbsp;
      <%= check_box_tag :thursday %> Thu
      &nbsp;&nbsp;
      <%= check_box_tag :friday %> Fri
      &nbsp;&nbsp;
      <%= check_box_tag :saturday %> Sat
    </div>
    
    <div class="repeat-options monthly-options form-group" <%= 'DayOfMonth'.eql?(recurrence.event_class_name) ? 'style="display:none;"' : '' %>>
      <label>Day of the Month</label>
      <%= number_field_tag :month_day, nil, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label id="event_count_label">Number of <%= (Object.const_get recurrence.event_class_name).plural_name %></label>
      <%= number_field_tag :event_count, recurrence.event_count, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label>Instructions</label>
      <%= text_area_tag :instructions, recurrence.instructions, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <button type="submit" class="complete-button btn btn-primary" style="float:left;">
        Save Changes
      </button>
      <div class="remove-button btn btn-primary" style="float:right;"><%= link_to "Remove", plan_remove_path(:recurrence_id => recurrence.id), method: :post %></div>
      <div style="clear:both;"></div>
    </div>  
  <% end %>
  </div>
</div>
<script>
$(document).ready(function() {
  $('#recurrence_type').change(function() {
    $('.repeat-options').hide();
    if ($('#recurrence_type option:selected').val() == "DayOfWeek") {
      $('.weekly-options').show();
    } else if ($('#recurrence_type option:selected').val() == "DayOfMonth") {
      $('.monthly-options').show();
    }
  });
});
$('#type').change(function() {
  var str = "";
  $("#type option:selected").each(function() {
    str += $( this ).text() + "s ";
  });
  $('#event_count_label').html('Number of ' + str);
});
</script>